<div class="vertical layout">

	<!-- header -->
	<div class="text-center self-center hero-title-holder">
		
		<!-- herb logo -->
		<a href="https://www.linkedin.com/in/herb-torres-7b5aa1a1" target="_blank">
			<svg version="1.1" id="herbLogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="85.513px" height="47.013px" viewBox="0 0 85.513 47.013" enable-background="new 0 0 85.513 47.013" xml:space="preserve">
				<polygon class="icon-primary-fill" points="0.034,20.246 0,26.443 39.603,47.013 39.603,40.201 "/>
				<polygon class="icon-secondary-fill" points="6.216,23.336 39.603,6.645 39.603,0 0.034,20.246 "/>
				<polygon class="icon-primary-fill" points="19.042,16.923 32.123,23.166 41.358,18.199 28.634,12.128 "/>
				<polygon class="icon-primary-fill" points="85.513,20.467 46.11,0 46.11,6.813 79.325,23.591 "/>
				<polygon class="icon-secondary-fill" points="46.11,40.369 46.11,47.013 85.513,26.855 85.513,20.467 "/>
				<polygon class="icon-primary-fill" points="66.67,30.089 53.592,23.848 44.355,28.814 57.078,34.884 "/>
			</svg>
		</a>

		<!-- header title -->
		<h2>2015 HOLIDAY SLOTS</h2>

	</div>
	
	<div class="flex desktop"></div>

	<div class="flex self-center hero-icon-holder"></div>

	<div class="slots-container">
		
		<!-- slot machine svg -->
		<div id="slots"></div>
		
		<!-- animated slots -->
		<img src="images/UpAnim.gif" alt="slot animation" class="slot-left inline-slots">
		<img src="images/DownAnim.gif" alt="slot animation" class="slot-middle inline-slots">
		<img src="images/UpAnim.gif" alt="" class="slot-right inline-slots">
		
		<!-- base/losing/winning slots -->
		<img src="images/icon02.png" alt="slots" class="slot-left inline-slots reveal reveal-left">
		<img src="images/icon05.png" alt="slots" class="slot-middle inline-slots reveal reveal-center">
		<img src="images/icon10.png" alt="slots" class="slot-right inline-slots reveal reveal-right">

		<!-- lever -->
		<img src="images/lever-x.png" alt="slots machine lever" id="lever">

		<!-- lever track -->
		<svg version="1.1" id="leverTrack" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			width="375px" height="1417.357px" viewBox="0 0 375 1417.357" enable-background="new 0 0 375 1417.357" xml:space="preserve">
			<rect x="170.25" y="-179" width="35" height="1336"/>
			<rect y="1281.643" fill="none" width="375" height="135.715"/>
		</svg>

	</div>
	
	<!-- mobile play to spin btn -->
	<span id="mobilePlay">PLAY</span>
	<div class="flex"></div>

</div>