<div class="vertical layout">

	<!-- header -->
	<div class="text-center self-center hero-title-holder">
		<!-- herb logo -->
		<svg version="1.1" id="herbLogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 86 47.5" style="enable-background:new 0 0 86 47.5;" xml:space="preserve">
		<g id="XMLID_1_">
			<g id="XMLID_10_">
				<polygon id="XMLID_18_" class="icon-logo-fill" points="85.8,20.7 85.8,27.1 46.4,47.3 46.4,40.6 57.3,35.1 57.3,35.1 66.9,30.3 66.8,30.3 
					79.6,23.9 		"/>
				<polygon id="XMLID_17_" class="icon-logo-fill" points="85.8,20.7 79.6,23.9 46.4,7.1 46.4,0.3 		"/>
				<polygon id="XMLID_16_" class="icon-logo-fill" points="66.9,30.3 57.3,35.1 57.3,35.1 66.8,30.3 		"/>
				<polygon id="XMLID_15_" class="icon-logo-fill" points="66.8,30.3 57.3,35.1 44.6,29.1 53.8,24.1 		"/>
				<polygon id="XMLID_14_" class="icon-logo-fill" points="41.6,18.5 32.4,23.4 19.3,17.2 28.9,12.4 		"/>
				<polygon id="XMLID_13_" class="icon-logo-fill" points="39.8,40.5 39.8,47.3 0.3,26.7 0.3,20.5 		"/>
				<polygon id="XMLID_12_" class="icon-logo-fill" points="39.8,0.3 39.8,6.9 28.9,12.4 19.3,17.2 6.5,23.6 0.3,20.5 		"/>
			</g>
			<g id="XMLID_11_">
			</g>
		</g>
		</svg>

		<h2>2015 HOLIDAY SLOTS</h2>
	</div>
	<div class="flex desktop"></div>

	<div class="flex self-center hero-icon-holder"></div>
	<!-- <div class="flex"></div> -->

	<div class="slots-container">
		<!-- slot machine svg -->
		<div id="slots"></div>
		<!-- animated slots -->
		<img src="images/UpAnim.gif" alt="slot animation" class="slot-left inline-slots">
		<img src="images/DownAnim.gif" alt="slot animation" class="slot-middle inline-slots">
		<img src="images/UpAnim.gif" alt="" class="slot-right inline-slots">
		<!-- base/losing/winning slots -->
		<img src="images/icon02.png" alt="slots" class="slot-left inline-slots reveal reveal-left">
		<img src="images/icon05.png" alt="slots" class="slot-middle inline-slots reveal reveal-center">
		<img src="images/icon10.png" alt="slots" class="slot-right inline-slots reveal reveal-right">

		<!-- lever -->
		<img src="images/lever.png" alt="slots machine lever" id="lever">

		<!-- lever track -->
		<svg version="1.1" id="leverTrack" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			width="375px" height="1417.357px" viewBox="0 0 375 1417.357" enable-background="new 0 0 375 1417.357" xml:space="preserve">
			<rect x="170.25" y="-179" width="35" height="1336"/>
			<rect y="1281.643" fill="none" width="375" height="135.715"/>
			<text transform="matrix(1 0 0 1 88.3511 1334.2012)" fill="#FFFFFF" font-family="'Open Sans'" font-size="72" font-weight="700" letter-spacing="5">PULL</text>
		</svg>
	</div>
	<span id="mobilePlay">PLAY</span>
	<div class="flex"></div>

</div>