#greeting
  centerer(50%)
  overflow hidden
  z-index 10
  width 95%
  height 90%
  height 0%
  border 5px solid $white
  box-shadow 0 19px 38px rgba(black, .3), 0 15px 12px rgba(black, .22)
  background url(../images/card-bg-grey.jpg)no-repeat center center
  -webkit-background-size cover 
  -o-background-size cover 
  background-size cover
  
  h1
    font 700 32px/47px 'Mountains of Christmas', cursive
    padding 30px 5px
  
  img
    position relative
    top -500px
    overflow hidden
    z-index -1
    width 100%
    max-width 125px
    height auto
    margin-top 50px
    text-align center
    margin 0 auto
    padding-top 10px
    visibility hidden
    opacity 0
    
  a
    font 700 16px/24px 'Open Sans', sans-serif
    letter-spacing 5px
    text-decoration none
    color $siteGreen
    -webkit-transition color 0.3s ease-out 
    -moz-transition color 0.3s ease-out 
    -ms-transition color 0.3s ease-out 
    -o-transition color 0.3s ease-out 
    transition color 0.3s ease-out
    
    &:hover
      color $xmasRed
      
  .btn-play-again
    position relative
    top -20px
    padding 5px 10px
    border 5px solid $siteGreen
    border-radius 5px
    visibility hidden
    opacity 0
    -webkit-transition all 0.3s ease-out 
    -moz-transition all 0.3s ease-out 
    -ms-transition all 0.3s ease-out 
    -o-transition all 0.3s ease-out 
    transition all 0.3s ease-out
    
    &:hover
      border-color $xmasRed

  @media $iphone6
    img
      max-width 150px
      padding-top 20px

  @media $iphonePlus
    h1
      font-size 47px
      line-height 62px
  
  @media screen and (min-width: 1025px)  
    img
      max-width 200px
      padding-top 0
      
    h1
      font-size 72px
      line-height 134px
      padding 0
      
  @media $desktop
    width 50%
    height 0%


.l-greeting-section
  position relative
  top -135px
  width 100%
  background $xmasRed
  border-bottom 5px solid $white
  visibility hidden
  opacity 0
  // box-shadow 0 19px 38px rgba(black, .3), 0 15px 12px rgba(black, .22)
  
// social
#social-list
  position relative
  visibility hidden
  opacity 0
  top -10px

ul
  margin 40px 0 0 0
  padding 0
  position relative
  
  @media $iphonePlus
    margin 20px 0 0 0
  
  @media screen and (min-width: 1025px)
    margin 40px 0 20px 0
  
  li
    display inline-block
    width 50px
    margin 0 15px
    -webkit-border-radius 50% 
    border-radius 50%
    background-color rgba(0, 172, 236, .05)
    box-shadow 0 0 15px 15px rgba(0, 172, 236, .05)
    border 5px solid $siteGreen
    border-radius 5px
    height 50px
    -webkit-transition border-color 0.3s ease-out 
    -moz-transition border-color 0.3s ease-out 
    -ms-transition border-color 0.3s ease-out 
    -o-transition border-color 0.3s ease-out 
    transition border-color 0.3s ease-out
    
    &:hover
      border-color $xmasRed
    
    a
      display block
      margin 0
      padding 5px
      width 40px
      height 40px
      padding 0
      -webkit-transition color 0.3s ease-out 
      -moz-transition color 0.3s ease-out 
      -ms-transition color 0.3s ease-out 
      -o-transition color 0.3s ease-out 
      transition color 0.3s ease-out
      
  // SVG's
  .icon-facebook,
  .icon-twitter
    width 40px
    height 40px
    padding 5px
    
    path
      -webkit-transition fill 0.3s ease-out 
      -moz-transition fill 0.3s ease-out 
      -ms-transition fill 0.3s ease-out 
      -o-transition fill 0.3s ease-out 
      transition fill 0.3s ease-out 
    
    // fill
    .social-icon-fill
      fill $siteGreen
      fill-rule evenodd
      -webkit-transition fill 0.3s easeOut 
      -moz-transition fill 0.3s easeOut 
      -ms-transition fill 0.3s easeOut 
      -o-transition fill 0.3s easeOut 
      transition fill 0.3s easeOut 
      
    &:hover .social-icon-fill
      fill $xmasRed



