#greeting
  background rgba( $siteGreen, 0.85)
  z-index 10
  
  img
    position relative
    top -500px
    overflow hidden
    z-index -1
    width 100%
    max-width 200px
    height auto
    margin-top 50px
    text-align center
    margin: 0 auto
    
  a
    font 24px/32px 'Fugaz One', sans-serif
    letter-spacing 2px
    text-decoration none
    color $white
    -webkit-transition color 0.5s ease-out 
    -moz-transition color 0.5s ease-out 
    -ms-transition color 0.5s ease-out 
    -o-transition color 0.5s ease-out 
    transition color 0.5s ease-out 
    
    &:hover
      color $xmasRed  

	
.l-greeting-section
  position relative
  top -135px
  width 100%
  max-height 135px
  background $xmasRed
  box-shadow 0 19px 38px rgba(black, .3), 0 15px 12px rgba(black, .22)
  
// social
ul
  margin 20px 0 0 0
  padding 0
  position relative
  
  li
    display inline-block
    width 40px
    padding 0
    margin 0 15px
    -webkit-border-radius 50% 
    border-radius 50%
    background-color rgba(0, 172, 236, .05)
    box-shadow 0 0 15px 15px rgba(0, 172, 236, .05)
    
    a
      display block
      margin 0
      padding 0
      width 30px
      height 30px
      padding 0
      -webkit-transition color 0.75s ease-out 
      -moz-transition color 0.75s ease-out 
      -ms-transition color 0.75s ease-out 
      -o-transition color 0.75s ease-out 
      transition color 0.75s ease-out 
      
  // SVG's
  .icon-facebook,
  .icon-twitter
    width 30px
    height 30px
    -webkit-transition color 0.75s ease-out 
    -moz-transition color 0.75s ease-out 
    -ms-transition color 0.75s ease-out 
    -o-transition color 0.75s ease-out 
    transition color 0.75s ease-out 
    
    @media screen and (min-width: 360px)
      width 40px
      height 40px
    
    // fill
    .cls-1
      fill $xmasRed
      fill-rule evenodd
      -webkit-transition fill 0.75s easeOut 
      -moz-transition fill 0.75s easeOut 
      -ms-transition fill 0.75s easeOut 
      -o-transition fill 0.75s easeOut 
      transition fill 0.75s easeOut 
      
    &:hover .cls-1
      fill $white
 




