.l-site-nav
  height auto
  
.btn-mobile-nav
  float right
  margin 20px 20px 0 0
  position relative
  z-index 50
  background $maize  
  color $goBlue
  font 400 12px/12px sans-serif
  border 3px solid $goBlue
  -webkit-border-radius 10px 
   border-radius 10px  
  text-decoration none
  padding 5px
  text-transform uppercase
  cursor pointer
  
  @media $desktop
    display none
    
.l-site-nav nav
  position relative
  left -80%
  z-index 20
  
  ul
    width 80%
    border 1px solid black
    padding 0
    margin 0
    text-align center
    background $white
    min-height 100vh
     
    li
      display inline-block
      display block
      margin 20px auto
      a
        color black
        text-decoration none
        letter-spacing 1px
        
  @media $desktop
    left 0
    width auto
    padding 0 2%
    ul
      min-height auto
      width auto
      float right
      border 0
      padding 0
      margin 0
      li
        display inline-block
        margin 0 10px
        border-left 1px solid black
        padding-left 25px
        margin 25px 25px 0 0
        
        &:first-child
          border-left none
        a
          color black
          text-decoration none
          letter-spacing 1px
        
    
  

