#home
  background $siteGreen
  
  span
  	text-align center
  	font 700 24px/28px 'Open Sans', sans-serif
  	border 5px solid $white
  	background $xmasRed
  	letter-spacing 5px
  	border-radius 5px
  	width 100%
  	max-width 150px
  	padding 5px 20px
  	margin 30px auto 0 auto
  	display block
  	box-shadow 0 19px 38px rgba(black, .3), 0 15px 12px rgba(black, .22)
  	
  	@media $desktop
  		display none
  	
  
  
// slots bell SVG id
#XMLID_1_
	-webkit-transform-origin top center
	-moz-transform-origin top center
	-ms-transform-origin top center
	-o-transform-origin top center
	transform-origin top center
	
.hero-title-holder
	h2
		font-size 20px
		margin-left 55px
		
		@media $tablet
			font-size 24px
			margin-left 0px

#herbLogo
	width 40px
	height 40px
	position absolute
	top 3px
	left 10px
	
	.icon-primary-fill,
	.icon-secondary-fill
		fill $white
		-webkit-transition fill 0.35s ease-out 
		-moz-transition fill 0.35s ease-out 
		-ms-transition fill 0.35s ease-out 
		-o-transition fill 0.35s ease-out 
		transition fill 0.35s ease-out 
		
	&:hover
		.icon-primary-fill
			fill #CD4829
			
		.icon-secondary-fill
			fill #393A39

	@media $tablet
		left 50px
