// -------------------------------------
//   Settings
// -------------------------------------

// keep in mind
h1, p, span, h2, h3, h4, h5, h6
   font 400 16px/24px 'Open Sans', sans-serif
   color $white
  
h1
	font 700 47px/111px 'Mountains of Christmas', cursive
	letter-spacing 4px
	margin 0
	text-shadow 1px 1px 0px darken($white, 20),
	                 1px 2px 0px darken($white, 15),
	                 1px 3px 0px darken($white, 15),
	                 1px 4px 0px darken($white, 15),
	                 1px 5px 0px darken($white, 20)
	@media $tablet
		font-size 72px
		line-height 134px  
	
h2, h3,
h4, h5, h6
	font 700 24px/45px 'Mountains of Christmas', cursive
	letter-spacing 4px 
	margin 0 
	
p,
span
	font 400 16px/24px 'Open Sans', sans-serif
	
p
	padding-bottom 50px

a
	color red
	font 700 16px/18px 'Open Sans', sans-serif
	