// -------------------------------------
//   Settings
// -------------------------------------
// ----- @font-face
// ----- typography
// -------------------------------------

// -------------------------------------
//   @font-face
// -------------------------------------

// -------------------------------------
//   Typography
// -------------------------------------

// keep in mind
h1, p, span, h2, h3, h4, h5, h6
  padding 25px
  
h1
	font 700 24px/24px sans-serif
	
h2, h3,
h4, h5, h6
	font 700 22px/22px sans-serif
	
p,
span
	font 400 16px/16px sans-serif
	
p
	padding-bottom 50px

a
	color red
	font 700 16px/16px sans-serif
	