// -------------------------------------
//   Settings
// -------------------------------------
// ----- @font-face
// ----- typography
// -------------------------------------

// -------------------------------------
//   @font-face
// -------------------------------------

// -------------------------------------
//   Typography
// -------------------------------------

// keep in mind
h1, p, span, h2, h3, h4, h5, h6
   font 400 16px/24px 'Open Sans', sans-serif
   color $white
  
h1
	font 72px/78px 'Fugaz One', sans-serif
	letter-spacing 3px 
	text-shadow 1px 1px 0px darken($siteRed, 15),
	                 1px 2px 0px darken($white, 15),
	                 1px 3px 0px darken($white, 15),
	                 1px 4px 0px darken($white, 15),
	                 1px 5px 0px darken($siteRed, 20)
	
h2, h3,
h4, h5, h6
	font 24px/32px 'Fugaz One', sans-serif
	letter-spacing 2px 
	
p,
span
	font 400 16px/24px 'Open Sans', sans-serif
	
p
	padding-bottom 50px

a
	color red
	font 700 16px/18px 'Open Sans', sans-serif
	