<!-- theme -->
<audio id="theme">
  <source src="audio/bossanova.mp3" type="audio/mp3" preload="auto">
  <source src="audio/bossanova.ogg" type="audio/ogg" preload="auto">
</audio>

<!-- sound fx -->
<audio id="crank">
  <source src="audio/grank.mp3" type="audio/mp3" preload="auto">
  <source src="audio/grank.ogg" type="audio/ogg" preload="auto">
</audio>

<audio id="motion">
  <source src="audio/motion.mp3" type="audio/mp3" preload="auto">
  <source src="audio/motion.ogg" type="audio/ogg" preload="auto">
</audio>

<audio id="winner">
  <source src="audio/WINNER.mp3" type="audio/mp3" preload="auto">
  <source src="audio/WINNER.ogg" type="audio/ogg" preload="auto">
</audio>

<audio id="loser">
  <source src="audio/loser.mp3" type="audio/mp3" preload="auto">
  <source src="audio/loser.ogg" type="audio/ogg" preload="auto">
</audio>