// -------------------------------------
//   Base
// -------------------------------------
// ----- variables
// ----- layour
// -------------------------------------


// -------------------------------------
//   Variables
// -------------------------------------

$white = rgb(255, 255, 255)
$black = rgb(0, 0, 0)
$goBlue = rgb(0, 40, 84)
$maize = rgb(255, 203, 11)

$siteRed = rgb(255, 92, 73)

$mobile = "screen and (min-width: 321px)"
$iphone6 = "screen and (min-width: 360px)"
$iphonePlus = "screen and (min-width: 414px)"
$tablet = "screen and (min-width: 768px)"
$desktop = "screen and (min-width: 960px)"

// -------------------------------------
//   Layout
// -------------------------------------

*
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  
html,
body
  width 100%
  height 100%

body
  background green

main
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden

section
  position absolute
  width 100%
  height 100%
  overflow auto
  
.layout
  height 100%
  padding-bottom 10px 
  
// canvas
//   position absolute
//   bottom 0
//   left 50%
//   -webkit-transform translateX(-50%)
//   -moz-transform translateX(-50%)
//   -ms-transform translateX(-50%)
//   -o-transform translateX(-50%)
//   transform translateX(-50%)
//   width 100%
//   max-width 850px
//   height auto
//   margin 0 auto
