// -------------------------------------
//   index.styl
// -------------------------------------
// ----- Contains an import section for libs, core, and modules, the inbox,
// ----- and a shame section for quick fixes and hacks ----- //

// -------------------------------------
//   Libs
// -------------------------------------

@import 'vendor/normalize.css'
@import 'vendor/flex-layout.css'

// -------------------------------------
//   Core
// -------------------------------------

// ----- Layout - Margin, Padding, Sizing, etc.. ----- //
@import 'base'
@import 'components/settings'
@import 'components/utilities'

// ----- Site ----- //
@import 'components/slots'
@import 'components/home'
@import 'components/greeting'
@import 'components/loader'
@import 'components/overlays'

// -------------------------------------
//   Inbox
// -------------------------------------
// ----- The inbox allows to quickly add styles
// ----- that are easily seen by everybody else
// -------------------------------------


    
// -------------------------------------
//   Shame
// -------------------------------------
// ----- Need to add a quick fix, hack, or questionable technique?
// ----- Add it here, fix it later.
// -------------------------------------
