// -------------------------------------
//   index.styl
// -------------------------------------
// ----- Contains an import section for libs, core, and modules, the inbox,
// ----- and a shame section for quick fixes and hacks ----- //

// -------------------------------------
//   Libs
// -------------------------------------

//@import 'nib'
@import 'vendor/normalize.css'
@import 'vendor/flex-layout.css'

// -------------------------------------
//   Core
// -------------------------------------

// ----- Layout - Margin, Padding, Sizing, etc.. ----- //
@import 'base'
@import 'components/settings'
@import 'components/utilities'

// ----- Site ----- //
@import 'components/header'
@import 'components/nav'
@import 'components/slots'
@import 'components/home'
@import 'components/greeting'
@import 'components/loader'

// -------------------------------------
//   Inbox
// -------------------------------------
// ----- The inbox allows to quickly add styles
// ----- that are easily seen by everybody else
// -------------------------------------

.landscape-overlay    
  position absolute
  width 100%
  height 100%
  background $siteGreen
  z-index 9999
  display none

  &:before
    content ''
    z-index 9900
    background url("../images/rotate-device.jpg")no-repeat center center
    -webkit-background-size cover
    -o-background-size cover
    background-size cover
    position fixed
    width 100%
    height 100%

  @media only screen and (max-device-width: 736px) and (orientation : landscape)
    display block
    
  @media only screen and (min-device-width: 414px) and (max-device-width: 1024px) and (orientation : portrait)
    display block
    
    &:before
      background url("../images/rotate-tablet.png")no-repeat center center
      -webkit-background-size contain
      -o-background-size contain
      background-size contain
    
// -------------------------------------
//   Shame
// -------------------------------------
// ----- Need to add a quick fix, hack, or questionable technique?
// ----- Add it here, fix it later.
// -------------------------------------
